:root{
    --primarycolor:#ff274b;
    --secondarycolor:#f7bcf7;
    --lightcolor: #ffffff;
    --bgcolor-1: #171a1c;
    --bgcolor-2:#22282a;
    --padding: 8%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
}
.home{
    height: 100vh;
    width: 100%;
    background-color: #02212d;
    display: flex;
    flex-direction: column;
}
span{
    color: var(--primarycolor);
}

h2{
   padding: 20px 200px;
}
nav{
    background-color: var(--bgcolor-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a {
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primarycolor);
}
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texts{
    position: relative;
    bottom: 70px;
}


h1{ 
    font-size: 2.84rem;
    margin: 1.5rem;
}
h5{
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1.5rem;

}
.btn{
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}

.social{
    margin-top: 2.5rem;
    padding: 12px 20px;
    height: 10px;
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s; 
}
.social img:hover{
     transform: scale(1.2);
}
.home .container-image{
    width: 45%;
    height: 90%;
    align-self: flex-end;
}
.home .container-image img{
    position: absolute;
    bottom: 0;
    height: 90%;
}
.home .container-image:hover shape{
    left: 45%;
}
.about{
    background-color: var(--bgcolor-2);
    display: flex;
    justify-content: space-around;
}
.about h5{
    color: var(--primarycolor);

}
.about .container-texts{
    width: 35%;
    text-align: center;
    padding: 90px;
    line-height: 1.5rem;
}
.table{
    background-color: #02212d;
}
.box{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 300px;
    background-color: var(--bgcolor-1);
    border-radius: 20px;
    padding: 1.3rem 2rem;
}
.card i{
    font-size: 3.12rem;
    text-align: center;
    color: var(--primarycolor);
    margin: 2rem;
}